.sobre{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background:rgb(238, 183, 142);
}

.sobre .principal{
    width: 60%;
    height: 100%;
    flex-direction: column;
    font-size: 20px;
}

.sobre .principal h1{  
    font-size: 52px;
    line-height: 61px;
    margin-bottom: 5%;
}

.sobre .principal ol{
    margin-top: 2%;
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.sobre .secundario{
    width: 20%;
    height: 100%;
}

.foto{
    width: 100%;
    height: 65%;
    border-radius: 50%;
}