*{
    font-family: 'Raleway', sans-serif;
}

header{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 2% 0;
}

header nav{
    display: flex;
    width: 45%;
    list-style: none;
    justify-content: space-between;
    font-weight: 500;
}

header nav li a{
    text-decoration: none;
    text-decoration-color: rgb(189, 0, 0);
    color: black;
}

header nav li:hover{
    text-decoration: underline;
}

header h1{
    font-weight: 700;
}

header h1:hover{
    letter-spacing: 0.1em;
    color: rgb(189, 0, 0);
    transition: 0.8s;
}

main{
    height: calc(100vh - 50px - 50px);
    width: 100%;
}

footer{
    display: flex;
    flex-direction: column;
    height: 50px;
    justify-content: center;
    align-items: center;
}