*{
    font-family: 'Raleway', sans-serif;
}

header{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 2% 0;
}

header nav{
    display: flex;
    width: 50%;
    list-style: none;
    justify-content: space-between;
    font-weight: 500;
}

header nav li a{
    text-decoration: none;
}

header h1{
    font-weight: 700;
}

main{
    height: calc(100vh - 50px - 50px);
    width: 100%;
}

footer{
    display: flex;
    flex-direction: column;
    height: 50px;
    justify-content: center;
    align-items: center;
}